name: Auto Deploy to aaPanel

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to aaPanel
        run: |
          curl --location \
            -X POST "${AAPANEL_URL}/hook?access_key=${AAPANEL_WEBHOOK_KEY}"
        env:
          AAPANEL_URL: ${{ secrets.AAPANEL_URL }}
          AAPANEL_WEBHOOK_KEY: ${{ secrets.AAPANEL_WEBHOOK_KEY }}

